/* Fonts */
@font-face {
    font-family: 'big';
    src: url('./assets/fonts/BIGJOHN.otf');
  }

@font-face {
    font-family: 'slim';
    src: url('./assets/fonts/SlimJoe.otf');
  }

  @font-face {
    font-family: 'openSans';
    src: url('./assets/fonts/OpenSans-Semibold.ttf');
  }


/* Color Palette 1 */

.bluePopsicle {
    background: #0f2862
}

.redLine {
    background: #9e363a
}

.purpleShadow {
    background: #091f36
}

.greyBlueLeaf {
    background: #4f5f76
}

/* ---------------------------------------------- */

/* Color Palette 2 */

.darkGrey {
    background: #393939;
}

.deepOrange {
    background: #FF5A09 
}

.lightOrange {
    background: #ec7f37 
}

.orangeYellow {
    background: #be4f0c 
}

/* ---------------------------------------------- */

/* Color Palette 3 */

.black {
  background: #0b0c10 
}

.darkGrey {
  background: #1f2833 
}

.lightGrey {
  background: #c5c6c7 
}

.aquaBlue {
  background: #66fcf1 
}

.blueGreen {
  background: #45a29e 
}

/* ---------------------------------------------- */

/* Color Palette 4 */

.darkBlue {
  background: #25274d 
}

.darkBlueGrey {
  background: #1f2833 
}

.lightBlueGrey {
  background: #aaabb8 
}

.lightBlue {
  background: #2e9cca 
}

.blue {
  background: #29648a 
}


/* General Styles */

* {
    font-family: 'big';
    transition: 375ms ease;
    /* font-weight: bold; */
}

.openSans {
  font-family: 'openSans' !important;
}

.fontBlack {
  color: #0b0c10;
}

.slim {
  font-family: 'slim' !important;
  font-weight: bold !important;
}

.big {
  font-family: 'big' !important;
}

.headerCarousel {
  height: 250px;
  transition: 350ms !important;
}

.headerCarousel img {
  height: 250px;
  object-fit: cover;
  object-position: 0px 18% !important;
  transition: 350ms !important;
}

.carousel-indicators {
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1 !important;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.2)) !important;
  background-size: cover !important;
  height: 100%;
  transition: 350ms !important;
}

.logoHeader {
  height: 90px;
}

.dotaLogoDropDown {
  height: 20px;
  margin-right: 10px;
}

.leftSectionCardBody {
  padding: 0 !important;
}

.leftSectionExpansion {
  background: #aaabb8 !important;
  border-radius: 0 !important;
  border-bottom: 3px solid #66fcf1 !important;  
}

.navHeader {
    /* color: #fff !important; */
    /* border-right: 4px solid #9e363a; */
    padding-right: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

.mainContainer {
  background-image: linear-gradient(to bottom, rgba(37, 39, 77, 1)  , rgba(37, 39, 77, 0.8)), url("./assets/img/backgrounds/bgImage1.png");
  background-size: cover;
    min-height: 100vh !important;
}

.mainRow {
  padding: 75px 60px !important;
  margin: 0 !important;
}

.card {
  margin-top: 20px !important;
  background: #0b0c10  !important;
  color: #0b0c10;
  font-family: 'openSans' !important;
}
.cardHeader {
  background-image: linear-gradient(to right, #0b0c10 , rgba(37, 39, 77, 0.9)), url("./assets/img/backgrounds/bgImage2.png");
  background-size: cover;
  color: #66fcf1;
  letter-spacing: 6px;
  border-bottom: 3px solid #9e363a !important;

}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 0px;
  letter-spacing: 4px !important;
  color: #fff !important;
  text-align: center;
  font-family: 'slim' !important;
  transition: 350ms !important;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #66fcf1 !important;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.ti9Image {
  object-position: 0px -500px !important;
}

.cardBody {
  color: #aaabb8;
  background: #0b0c10;
  font-family: 'openSans' !important;
}

.leftTopSection {
  height: 800px
}

.navbar {
    background: rgba(37, 39, 77, 1) ;
    border-bottom: 3px solid #66fcf1;
}

.gamesDropDownItem {
  font-family: 'slim' !important;
  font-weight: bold !important;
  color: #66fcf1 !important;
}

.gamesDropDownItem:hover {
  background: #66fcf1 !important;
  font-weight: bold !important;
  color: #25274d !important;
}

.gamesDropDown {
  background: #29648a !important;
  border: 3px solid #66fcf1 !important;
}

.navLink {
    margin-right: 15px !important;
    letter-spacing: 2px;
    color: rgba(102, 252, 241, 0.7) !important;
    border-left: 3px solid transparent;
    transition: 300ms ease;
}

.navLink:hover {
    /* color: #fff !important; */
    color: #66fcf1 !important;
    border-left: 3px solid rgba(102, 252, 241, 1);
    transition: 300ms ease;
}

.signupBtn {
    letter-spacing: 2px !important;
    margin-top: 4px !important;
    margin-left: 15px !important;
    color: rgba(102, 252, 241, 0.7) !important;
    float: right !important;
    border: 1px solid rgba(102, 252, 241, 0.7) !important;
}

.signupBtn:hover {
    color: #66fcf1 !important;
    border: 1px solid #66fcf1 !important;
}